@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: "Space Grotesk", sans-serif;
}
hr{
    width: 94%;
}
.green-color-change{
    color: #B9FF66;
}
.green-background-color{
    background-color: #B9FF66;
}
.border-radius{
    border-radius: 20px;
}
.anchor-color-black{
    color: black;
    font-size: 15px;
    text-decoration: none;
}

/* navbar css */
.before-query{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navbar-anchor-middle{
    font-size: 26px;
    color: black;
    text-decoration: none;
 }
 .navbar-anchor-middle:hover{
    box-shadow: 5px 10px 8px 2px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
 }
 .left-bar{
    cursor: pointer;
 }
 .right-bar{
    cursor: pointer;
 }
 .right-bar-h3{
border: 1px solid black;
padding: 15px;
border-radius: 20px;
}
.right-bar-h3:hover{
   box-shadow: 5px 10px 8px 2px rgba(0, 0, 0, 0.5);
}

.after-for-navbar{
    display: none;
}

/* <!-- here navigating digital landascape and horn pic in this slot --> CSS HERE */

.book-consultation-black-anchor{
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    text-decoration: none;
}

.book-consultation-black-anchor:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.main-container-for-navigate{
    display: flex;
    justify-content: space-around;
}

.after-query-main-container-for-navigate{
    display: none;
}

/* <!-- here are the logos containerng of cnetlfix amazon etc --> */
.logos-container-for-channels{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    gap: 20px;
}

/* <!-- her eis the sevice and some text apart --> */
.services-text-image{
    width: 83%;
    display: flex;
    justify-content: space-evenly;
}

/* <!-- two green and gray divs --> */
.green-gray-main-div{
    display: flex;
    justify-content: space-evenly;
}
.green-div{
    border: 1px solid black;
    display: flex;
    border-bottom: 5px solid black;
    border-radius: 20px;
    padding: 10px;
}

.after-query-green-gray{
    display: none;
}

/* 6 boxes here */
.first-box-first-line{
    display: flex;
    justify-content: space-between;
}
.border-bottome{
    border: 1px solid black;

    border-bottom: 5px solid black;
    border-radius: 20px;
}

/* <!-- here is form text and its picture on the rught  --> */
.main-container-for-form{
    background-color: #F3F3F3;
}
.input-border{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}
.button-for-form-css{
    background-color: black;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    width: 100%;
}
.button-for-form-css:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* footer css here */
.main-footer-container{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.footer-navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-anchor-middle{
    font-size: 26px;
    color: white;
 }
 
 .middle-footer-navbar{
    display: flex;
    gap: 20px;
 }
 .right-footer-navbar{
    display: flex;
    gap: 20px;
 }
 /* middle section footer css here */
 .middle-footer-contact-email{
    display: flex;
    justify-content: space-around;

 }


 .right-middle-footer-contact-email{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292A32;
 }
 .middle-footer-eamil-input{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
 }

 /* this after the query */

 .after-query-logos-footer{
    display: none;
 }
 /* :end ofooter */
 .end-footer{
    display: flex;
    justify-content: center;
 }


/* query her lllllllllllll */


@media (max-width: 1201px) {
    .navbar-anchor-middle{
        font-size: 16px
     }
     .footer-anchor-middle{
        font-size: 16px
     }
     .right-bar-h3{
        padding: 10px;
    border-radius: 10px;
     }
    
}

/* this will be displaye after 992 */

@media (max-width: 890px) {
   .before-query{
    display: none;
   }
   .after-for-navbar{
    display: block;
    display: flex;
    justify-content: space-around;
   }
   .main-container-for-navigate{
    display: none;
   }
   .after-query-main-container-for-navigate{
    display: block;
}
.logos-container-for-channels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services-text-image{
    display: flex;
    flex-wrap: wrap;
}
.after-query-green-gray{
    display: block;
}
.green-gray-main-div{
    display: none;
}
.services-text-image{
    width: 100%;
}
.right-form{
    display: none;
}
.right-footer-navbar{
    display: none   ;
}
.middle-footer-navbar{
    flex-wrap: wrap;
    justify-content: center;
 }
 .footer-anchor-middle{
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    width: 100%;
 }
 .footer-navbar{
    flex-direction: column;
 }
 .middle-footer-contact-email{
    display: block;
 }
 .right-middle-footer-contact-email{
    flex-direction: column;
 }
 .left-middle-footer-contact-email{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .after-query-logos-footer{
    font-size: 22px;
    display: flex;
    justify-content: center;
    gap: 20px;
 }
}