@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: "Space Grotesk", sans-serif;
}
a {
    text-decoration: none !important;
}
hr{
    width: 94%;
}
.green-color-change{
    color: #B9FF66;
}
.green-background-color{
    background-color: #B9FF66;
}
.border-radius{
    border-radius: 20px;
}
.anchor-color-black{
    color: black;
    font-size: 15px;
}

/* navbar css */
.before-query{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navbar-anchor-middle{
    font-size: 26px;
    color: black;
 }
 .navbar-anchor-middle:hover{
    box-shadow: 5px 10px 8px 2px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
 }
 .left-bar{
    cursor: pointer;
 }
 .right-bar{
    cursor: pointer;
 }
 .right-bar-h3{
border: 1px solid black;
padding: 15px;
border-radius: 20px;
}
.right-bar-h3:hover{
   box-shadow: 5px 10px 8px 2px rgba(0, 0, 0, 0.5);
}

.after-for-navbar{
    display: none;
}

/* <!-- here navigating digital landascape and horn pic in this slot --> CSS HERE */

.book-consultation-black-anchor{
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
}

.book-consultation-black-anchor:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.main-container-for-navigate{
    display: flex;
    justify-content: space-around;
}

.after-query-main-container-for-navigate{
    display: none;
}

/* <!-- here are the logos containerng of cnetlfix amazon etc --> */
.logos-container-for-channels{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    gap: 20px;
}

/* <!-- her eis the sevice and some text apart --> */
.services-text-image{
    width: 83%;
    display: flex;
    justify-content: space-evenly;
}

/* <!-- two green and gray divs --> */
.green-gray-main-div{
    display: flex;
    justify-content: space-evenly;
}
.green-div{
    border: 1px solid black;
    display: flex;
    border-bottom: 5px solid black;
    border-radius: 20px;
    padding: 10px;
}

.after-query-green-gray{
    display: none;
}

/* 6 boxes here */
.first-box-first-line{
    display: flex;
    justify-content: space-between;
}
.border-bottome{
    border: 1px solid black;

    border-bottom: 5px solid black;
    border-radius: 20px;
}

/* query her lllllllllllll */


@media (max-width: 1201px) {
    .navbar-anchor-middle{
        font-size: 16px
     }
     .right-bar-h3{
        padding: 10px;
    border-radius: 10px;
     }
    
}

/* this will be displaye after 992 */

@media (max-width: 804px) {
   .before-query{
    display: none;
   }
   .after-for-navbar{
    display: block;
    display: flex;
    justify-content: space-around;
   }
   .main-container-for-navigate{
    display: none;
   }
   .after-query-main-container-for-navigate{
    display: block;
}
.logos-container-for-channels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services-text-image{
    display: flex;
    flex-wrap: wrap;
}
.after-query-green-gray{
    display: block;
}
.green-gray-main-div{
    display: none;
}
}